---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}

			.animated-box {
				width: 100px;
				height: 100px;
				background-color: #3498db;
				transition: all 0.3s ease;
			}
			.animated-box:hover {
				width: 150px;
				height: 150px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h2>Funcionalidades Destacadas</h2>

				<div class="feature-container">
					<!-- Funcionalidad 1 -->
					<div class="feature">
						<h3>Interactividad con JavaScript</h3>
						<p>
							Demuestra c칩mo JavaScript puede mejorar la
							interactividad en una p치gina web.
						</p>
						<button onclick="cambiarColorFondo()"
							>Cambiar Color de Fondo</button
						>
						<script>
							// Funci칩n para cambiar el color de fondo al azar
							function cambiarColorFondo() {
								var colores = [
									"#ff9999",
									"#99ff99",
									"#9999ff",
									"#ffff99",
									"#ffcc99",
									"#cc99ff",
								];
								var colorAleatorio =
									colores[
										Math.floor(
											Math.random() * colores.length
										)
									];
								document.body.style.backgroundColor =
									colorAleatorio;
							}
						</script>
					</div>

					<!-- Funcionalidad 3 -->
					<div class="feature">
						<h3>Animaciones CSS</h3>
						<p>
							Destaca las capacidades de animaci칩n utilizando CSS.
						</p>
						<div class="animated-box"></div>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
