---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fortawesome/fontawesome-free/css/all.min.css";

type Props = CollectionEntry<"misperlas">["data"];

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <style>
      main {
        width: 100%;
        padding: 20px;
      }
      .title {
        padding: 10px 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .prose p {
        color: #d31c1c !important; /* Color de texto */
        font-size: 1rem; /* Tamaño de fuente */
      }
      i {
        color: black;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="perlas">
          <a href="/misperlas"><i class="fa-solid fa-arrow-left"></i></a>
          <a href="/misperlas" style="float: right;"
            ><i class="fa-solid fa-arrow-right"></i></a
          >
          <div class="title">
            <h3>{title}</h3>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
